<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Header</title>
</head>
<body>
    <nav>
        <div class="navbar">
            <div class="logo">
                <a href="#"><img src="/images/logo-removebg-preview.png" alt="Logo"></a>
                <a href="#">Alumni University Nexus</a>
            </div>
            <ul class="links">
                <li><a href="Home">Home</a></li>
                <li><a href="About">About Us</a></li>
                <li><a href="services">Help</a></li>
                <li><a href="contact">Contact Us</a></li>
            </ul>
            <div class="toggle_btn">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </nav>
    <script src="script.js"></script>
</body>
</html>
